body{
    padding: 0;
    margin: 0;
    background: url("./image/fibonacci.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    a{
        color: wheat;
        text-decoration: none;
        position: fixed;
        top: 20px;
        left: 50px;
        font-size: 18px;
    }
    a:hover{
        color: white;
    }
    .container {
        height: 100vh;
        overflow-y: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .main {
        display: flex;
        align-items: center;
        justify-content: center;
            input {
                height: 30px;
                width: 150px;
                margin-right: 10px;
                font-size: 20px;
                background-color: rgb(251,89,81);
                border: none;
                color: #e9d9d9;
                padding-left: 10px;
                border-radius: 2px;
            }
            input:focus{
                outline: none;
            }
            button {
                height: 34px;
                width: 75px;
                font-size: 20px;
                text-align: center;
                background-color: rgb(70,15,15);
                color: #e9d9d9;
                border-radius: 2px;
                border: none;
                
            }
            button:hover{
                background-color: white;
                color: rgb(70,15,15);
                
            }
            button:focus{
                outline: none;
            }
        }
        p{
            width: 40%;
            font-size: 32px;
            color: white;
            text-align: center;
        }
    }
}